[v-clock] {
    display: none;
}

.highlight {
    border: solid 3px #cc274c;
    color: #cc274c;
}

.shooting-star-leave-to,
.shooting-star-enter {
    transform: translateX(150px) rotate(30deg);
    opacity: 0;
}

.shooting-star-enter-active,
.shooting-star-leave-active {
    transition: all .5s ease;
}

.neo-list-leave-to,
.neo-list-enter {
    opacity: 0;
    transform: translateY(30px);
}

.neo-list-enter-active,
.neo-list-leave-active {
transition: all 1s linear;
}

.spin-enter-active {
animation: spin-steps 2s;
}

@keyframes spin-steps {
0% {
    transform: scale(1) rotate(0)
}

50% {
    transform: scale(10) rotate(360deg)
}

100% {
    transform: scale(1) rotate(1080deg)
}
}